{% extends "base.html" %}

{% block content %}
    <h2>Preferences Page</h2>
    <p>Hi!</p>
    <form method="POST" action="/onboarding">
      <div>
        <label for="molw">Molecular Weight:</label>
        <select id="molw" name="molw">
          <option value="100s">1-100</option>
          <option value="200s">101-200</option>
          <option value="300s">201-300</option>
          <option value="400s">301-400</option>
          <option value="500s">401-500</option>
          <option value="600s">501+</option>
        </select>
      </div>  
      <div>
        <label for="lip">Lipophilicity:</label>
        <input type="text" id="lip" name="lip">
      </div>
      <div>
        <label for="hba">Hydrogen Bonding Acceptors Preference:</label>
        <input type="text" id="hba" name="hba">
      </div>
      <div>
        <label for="hbd">Hydrogen Bonding Donors Preference:</label>
        <input type="text" id="hbd" name="hbd">
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
{% endblock content %}
